footer {
  @include display(row, space-between, flex-start);

  padding: 20px 24px 80px 0;
  .up {
    position: absolute;
    bottom: 160px;
    right: 26px;
    background: $primary-color-1;
    padding: 10px 15px;
  }

  .logo-container {
    width: 30%;
    top: 17px;

    img {
      width: 35px;

      @include responsive(768px){
        width: 50px;
      };
    }

    a {
      justify-content: unset;

      div {
        color: $neutral-color-5;

        span {
          &:first-child {
            font-size: 15px;
          }

          &:last-child {
            font-size: 11px;
          }

          @include responsive(768px){
            &:first-child {
            font-size: 30px
            }

            &:last-child {
              font-size: 12px;
            }
          };
        }
      }
    }
  }

  .rights {
    width: 50%;
    margin-top: 14px;
    font-family: Lato, monospace;

    h6 {
      margin: 0;
    }

    p {
      font-size: 10px;
    }
  }

  @include responsive(768px){
    padding: 20px 42px 80px;

    .rights {
      width: 60%;

      h6 {
        font-size: 12px;
      }
    }
  }

  @include responsive(1098px){
    padding: 20px 130px 80px;

    .rights {
      width: 60%;
    }
  }
}
