/* Header Section */
.logo-container {
  @include position(relative, unset, unset, 24px, unset);

  max-width: 75%;

  a {
    @include display(row, center, center);

    div {
      @include display(column, center, unset);

      color: $neutral-color-5;

      span {
        &:first-child {
          @include font-face('../../assets/Fonts/ym/Youth\ Memories.otf', YM);

          font-size: font($font-size, medium);
          font-weight: bold;
        }

        &:last-child {
          font-family: Poppins, sans-serif;
          font-weight: font($font-weights, medium);
          font-size: font($font-size, micro);
        }
      }
    }
  }

  img {
    width: 50px;
  }
}

header {
  @include display(column, unset, center);

  z-index: 1;
  width: 100%;
  font-family: Lato, monospace;

  nav .desktop-menu,
  .top-header {
    display: none;
  }

  nav {
    @include display(row, space-between, center);
    @include dimension(100%, unset);

    padding: 10px 0;
    background: $white-color;
    box-shadow: $shadow-1;

    .mobile-menu {
      @include position(relative, unset, unset, unset, 24px);

      display: flex;
    }

    .mobile-menu img {
      width: 30px;
    }
  }

  @include responsive(768px) {
    & {
      .top-header {
        @include display(row, flex-end, center);

        background: $neutral-color-3;
        width: 100%;
        padding: 6px 30px 6px 6px;

        ul {
          @include display(row, flex-end, center);

          margin: 0;

          li {
            margin-left: 20px;

            a {
              color: $white-color;
              font-size: 12px;

              img {
                width: 14px;
                margin-top: 3px;
              }
            }
          }
        }
      }

      nav {
        padding: 0 30px 0 10px;

        .mobile-menu {
          display: none;
        }

        .desktop-menu {
          display: block;
          justify-self: flex-end;

          ul {
            @include display(row, center, center);

            padding: 0;

            a {
              color: $neutral-color-4;
            }

            li {
              padding: 10px;
              margin-left: 20px;

              a {
                font-size: 14px;
              }

              &:last-child {
                margin-left: 0;
                border: solid 4px $primary-color-1;

                a {
                  color: $primary-color-1;
                }

                @include responsive(850px) {
                  margin-left: 60px;
                }
              }

              &:not(:last-child) {
                padding: 0;
                margin-right: 10px;

                a {
                  transition: border-bottom ease-out 0.5s;

                  &:hover {
                    border-bottom: solid 3px $primary-color-1;
                    padding-bottom: 5px;
                  }
                }
              }
            }
          }
        }
      }
    }
  }

  @include responsive(1098px) {
    .top-header {
      padding-right: 100px;
    }

    nav {
      padding: 0 100px;

      .desktop-menu {
        ul {
          display: flex;
          padding: 0;
          margin-left: 0;

          li {
            margin: 0;

            &:not(:last-child) {
              margin-right: 40px;
            }

            &:last-child {
              margin-left: 50px;
              border: solid 4px $primary-color-1;

              a {
                color: $primary-color-1;
              }
            }
          }
        }
      }
    }
  }
}

.hamburger-menu {
  @include position(fixed, 0, 0, 200vw, 0);
  @include dimension(100%, 100vh);

  background-color: $primary-color-1;
  padding: 25px 25px 50px;
  transition: left ease-in-out 0.6s 0.05s;
  z-index: 10;

  .close {
    @include display(row, flex-end, center);

    img {
      width: 27px;
    }
  }

  &.show {
    left: 0;
  }

  ul {
    list-style: none;
    margin-top: 46px;

    li {
      margin-bottom: 40px;

      a {
        @include font-stack(Poppins, sans-serif, normal, 600, 32px, 44px);

        color: $accent-color-2;
      }
    }
  }

  @include responsive(768px) {
    & {
      display: none;
    }
  }
}
