/* Headline Section */
.headline-contact {
  @include position(absolute, 64vh, 0, 0, 0);

  width: 80%;
  margin: 0 auto;

  p {
    font-size: 12px;
    line-height: 16px;
    text-align: center;
    margin: 3% 0 0;

    a {
      text-decoration: underline;
      font-weight: font($font-weights, extra-medium);
    }
  }
}

.headline-card {
  margin-top: 10px;
  text-align: center;
  background: $white-color;
  padding: 10px;
  box-shadow: $shadow-2;

  p {
    font-size: 13px;
    line-height: 18px;
    margin: 6px 0;
  }
}

.headline-details {
  @include position(relative, -450px, 50px, 26px, 50px);

  color: $primary-color-1;
  height: 0;

  p {
    font-family: Lato, monospace;
    font-weight: font($font-weights, normal);
    margin: 12px 0;
    color: $accent-color-1;
    font-size: font($font-size, mini);

    &:first-of-type {
      color: $primary-color-1;
    }

    &:last-of-type {
      @include font-face('../../assets/Fonts/Cocogoose/Cocogoose\ Pro\ Light-trial.ttf', Cocogoose);

      margin: 15px 0;
    }
  }

  h1 {
    font-family: Poppins, sans-serif;
    font-size: font($font-size, large);
    font-weight: 800;
    margin: 20px 0;
    width: 90%;
  }

  span {
    font-family: Lato, monospace;
    font-weight: font($font-weights, extra-medium);
    font-size: font($font-size, micro);
    color: $accent-color-1;

    .stroke {
      border-left: solid 3px $primary-color-1;
      margin: 0 12px 0;
    }
  }

  .headline-button {
    @include display(row, center, center);
    @include dimension(unset, 55px);

    background: $button-color1;
    font-family: Lato, monospace;

    @include buttons($button-border1, $primary-color-1, $shadow-1);

    &:hover {
      background-position: left bottom;
      color: $white-color;
    }

    img {
      width: 24px;
    }
  }

  @include responsive(550px) {
    & {
      @include position(absolute, 23px, 50px, 26px, 50px);

      h1 {
        font-size: 48px;
        width: 90%;
      }
    }
  }
}

section {
  .headline {
    @include dimension(100%, 75vh);
    @include position(relative, 0, 0, 0, 0);

    background: rgba(151, 150, 150, 0.226) url('../../assets/images/background/background1.png') no-repeat;
    background-size: 100vw 100%;
    color: $neutral-color-4;
    height: 75vh;

    .background-img {
      @include position(absolute, 6px, 20px, 10px, 20px);
      @include dimension(95vw, 80vh);
    }

    &.about {
      @include position(relative, 0, 0, 0, 0);

      background:
        rgba(151, 150, 150, 0.226)
        url('../../assets/images/background/background2.png') no-repeat;
      background-size: 100vw 100%;

      // background: rgba(0, 0, 0, 0.062);
      padding: 20px;
      height: 78vh;

      .details {
        @include display(column, center, center);
        @include position(relative, 10px, 50px, 0, 0);

        text-align: center;

        h1 {
          width: 100%;
        }

        p {
          margin: 5px 0;
        }
      }

      hr {
        border: none;
        width: 10%;
        margin-bottom: 15px;
        background: $primary-color-1;
        border-bottom: solid 2px $primary-color-1;
      }
    }
  }
}
