.modal-container {
  @include position(fixed, -100vh, 0, 0, 0);

  background: $primary-color-3;
  height: 100vh;
  z-index: 10;
  overflow: hidden;
  font-family: Lato, monospace;

  .video {
    .close-modal {
      @include display(row, flex-end, center);
      @include position(relative, 20px, unset, unset, 20px);

      img {
        width: 26px;
      }
    }

    iframe {
      @include position(fixed, 20%, 10%, 5%, 0);

      width: 90%;
    }
  }

  .modal {
    @include display(column, center, unset);
    @include dimension(320px, unset);
    @include position(fixed, -100vh, unset, 6%, 6%);

    margin: 16% auto;
    background: $neutral-color-7;
    padding: 30px;
    box-shadow: rgba(255, 255, 255, 0.1) 0 1px 1px 0 inset, rgba(50, 50, 93, 0.25) 0 50px 100px -20px, rgba(0, 0, 0, 0.3) 0 30px 60px -30px;
    transition: top ease-out 0.5s 0.05s;

    &.show {
      top: 0;
    }

    .heading {
      @include display(row, space-between, unset);

      margin-bottom: 20px;

      .close-modal {
        cursor: pointer;
      }

      h2 {
        color: $accent-color-1;

        span {
          @include position(relative, 0, 0, -32px, unset);

          width: 30%;
          padding: 3px 0;
        }
      }
    }

    form {
      @include display(column, unset, unset);

      width: 100%;

      label {
        margin-bottom: 10px;
      }

      input {
        margin-bottom: 30px;
        border: none;
        border-bottom: solid 2px $primary-color-1;
        background: unset;
        height: 0;
        transition: border-bottom ease-in-out 0.8s 0.2s;

        &:focus {
          outline: none;
          height: 30px;
          border-bottom: solid 2px $accent-color-1;
        }
      }

      button {
        @include buttons(none, $white-color, $shadow-1);

        background: $primary-color-1;
        margin: 0 0 30px;
        padding: 15px 0;
      }

      .divider {
        @include display(row, center, center);

        p {
          margin: 0;
          font-size: 10px;
          color: $neutral-color-9;
        }

        hr {
          width: 30%;
        }
      }

      .socials {
        @include display(row, center, center);

        margin: 30px 0 0;

        a {
          &:visited {
            color: $accent-color-1;
          }

          img {
            width: 30px;
          }

          i,
          img {
            border-radius: 5px;
            padding: 5px;
            box-shadow:
              rgba(50, 50, 93, 0.25) 0 50px 100px -20px,
              rgba(0, 0, 0, 0.3) 0 30px 60px -30px,
              rgba(10, 37, 64, 0.35) 0 -2px 6px 0;
            background: $white-color;
            margin-right: 15px;
            font-size: 12px;
          }

          i {
            font-size: 20px;
          }
        }
      }
    }
  }
}
